
<div class="row">
    <div class="col d-flex justify-content-center">
          <div class="card">
            <div class="card-body">
              <h3> says...</h3>
              <p>{{comment_text}}</p>
            </div>
        </div>
    </div>
</div>  
