       <!-- Local stylesheet -->
    <link rel="stylesheet" href="/assets/css/login.css">
</head>
    <div class="row">
      <div class="col-md-6" id="credentials">
        <header>
          <h1>Sign Up</h1>
        </header>        
        <form class="form login-form">
        <div class="form-group">
          <label for="email-login">Email:</label><br>
          <input class="form-input" type="text" id="email-login" />
        </div>
        <div class="form-group">
          <label for="password-login">Password:</label><br>
          <input class="form-input" type="password" id="password-login" />
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">Login</button>
        </div>
      </form>
    </div>
        <div class="col-md-6" id="users">
          <h1>Been here before?</h1>
          <h5>Login below</h5>
          <button class="btn btn-primary" type="submit">Login</button>
        </div>
      </div>
    

<script src="./js/login.js"></script>
