       <!-- Local stylesheet -->
    <link rel="stylesheet" href="/assets/css/login.css">
</head>
    <div class="row">
      <div class="col-md-6" id="credentials">
        <header>
          <h1>Sign Up</h1>
        </header>        
        <form class="form signup-form">
          <div class="form-group">
          <label for="name-signup">Username:</label><br>
          <input class="form-input" type="text" id="name-signup" />
        </div>
        <div class="form-group">
          <label for="email-signup">Email:</label><br>
          <input class="form-input" type="text" id="email-signup" />
        </div>
        <div class="form-group">
          <label for="password-signup">Password:</label><br>
          <input class="form-input" type="password-signup" id="password-login" />
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit" href="/">Sign Up</button>
        </div>
      </form>
    </div>
        <div class="col-md-6" id="users">
          <h1>Been here before?</h1>
          <h5>Login below</h5>
          <button class="btn btn-primary"><a class="nav-link" href="/login">Login</a></button>
        </div>
      </div>
    

<script src="/assets/js/"></script>
